@model ve
<div>
    <form id="@Model.veID" asp-page="/MyCart" method="post">
        <input type="hidden" asp-for="veID" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button type="submit"
        class="btn btn-warning btn-sm pull-right">
        Thêm vào giỏ hàng
        </button>
    </form>
    </div>