@page
<div class="text-center">
<h3>Cảm ơn bạn đã đặt hàng #@OrderId</h3>
<p>Chúng tôi sẽ gửi hàng cho bạn trong thời gian sớm nhất.</p>
<a class="btn btn-info" asp-controller="Home">Quay lại cửa hàng</a>
</div>
@functions {
[BindProperty(SupportsGet = true)]
public string OrderId { get; set; }
}